html {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    
}

/* Header */

header {
    position: fixed;
    display: inline;
    width: 100%;
    z-index: 1;
    background-color: beige;
    height: 68px;
    border-bottom: 1.5px solid white;
}

header h1 {
    display: inline-flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    font-size: 2rem;
}

.nav-container {
    display: inline;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    width: 50%;
}

.nav-bar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
}

.nav-bar ul li:hover {
    font-weight: bold;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    margin-left: -40px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Header Mobile Version */

@media only screen and (max-width: 500px) {
    header {
        height: 40px;
    }

    header h1 {
        font-weight: bold;
        font-size: 1rem;
    }

    .nav-bar ul li {
        font-size: 0.7rem;
    }

    .dropdown-content {
        min-width: 130px;
        margin-left: -25px;
    }
}


/* Main Picture Section */

.background-container {
    background-image: url("/Users/mateusmotter/Desktop/Coding/Projects/4WD Exp/Resources/Images/1-Background-main-picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%; 
    padding-top: 68px;
    height: 700px;
}

.book {
    position: relative;
    top: 500px;
    left: 10%;
    border: solid 1px seashell;
    border-radius: 4px;
    background-color: beige;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book .header {
    font-family: 'Hurricane', cursive;
    font-size: 2.5rem;
    white-space: nowrap;
}

.book:hover {
    border: solid 2px black;
}

/* Main Picture Mobile Version */
@media only screen and (max-width: 500px) {
    .background-container {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
    }

    .book {
        position: static;
        width: 350px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Destinations Section */

.destinations {
    margin-top: 20px;
    text-align: center;
    line-height: 3;
    background-color: beige;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.destinations-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.destination {
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

.destination img {
    width: 320px;
    height: 213.44px;
}

.destination:hover {
    border: 2px solid gray;
}

/* Vehicles Section */

.vehicles {
    margin-top: 20px;
    text-align: center;
    background-color: beige;
    line-height: 3;
    padding-bottom: 20px;
}

#pajero {
    background-image: url("/Users/mateusmotter/Desktop/Coding/Projects/4WD Exp/Resources/Images/Pajero.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}

#patrol {
    background-image: url("/Users/mateusmotter/Desktop/Coding/Projects/4WD Exp/Resources/Images/Patrol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}

.vehicles-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
    font-size: 2rem;
}

.vehicle {
    padding-top: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

.vehicle h3 {
    width: inherit;
    height: inherit;
    visibility: hidden;
    z-index: 1;
}

.vehicle:hover h3 {
    visibility: visible;
}

/* Vehicles Mobile Version */

@media only screen and (max-width: 500px) {
    .vehicles-container {
        display: block;
    }
    .vehicle {
        margin-top: 20px;
    }

    #pajero,
    #patrol {
        width: 100%;
    }
}

/* Team Section */

.team {
    margin-top: 20px;
    text-align: center;
    background-color: beige;
    line-height: 3;
}

.team-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    line-height: 1;
}

.member img{
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
}


.team h3 {
    font-weight: bold;
}

/* Vehicles Mobile Version */

@media only screen and (max-width: 500px) {
    .member img {
        width: 70px;
    }

    .team-container {
        display: grid;
        grid-template: 50% 50% / 50% 50%;
        row-gap: 15px;
        padding: 10px 30px;
        line-height: 1;
    }
}

/* Footer Section */

footer {
    background-color: beige;
    margin-top: 20px;
    height: 35px;
    font-size: 0.75rem;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

footer .content {
    display: inline;
}

.copyright {
    float: right;
}

.location {
    float: left;
}